LightYagami/config.py
LightYagami/*.session
LightYagami/*.session-journal
LightYagami/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
LightYagami/modules/helper_funcs/temp.txt
LightYagami/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe
yagamipyro
str
